<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blove.space.mapper.SpaceCouplesMapper">
  <resultMap id="BaseResultMap" type="com.blove.space.model.SpaceCouples">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="boyfriend" jdbcType="INTEGER" property="boyfriend" />
    <result column="girlfriend" jdbcType="INTEGER" property="girlfriend" />
    <result column="knowTheTime" jdbcType="INTEGER" property="knowthetime" />
    <result column="togetherTime" jdbcType="INTEGER" property="togethertime" />
    <result column="isLogicDel" jdbcType="BIT" property="islogicdel" />
    <result column="createdAt" jdbcType="INTEGER" property="createdat" />
    <result column="updatedAt" jdbcType="INTEGER" property="updatedat" />
  </resultMap>
</mapper>